<section class="py-5 text-center container fst-italic">
  <h1 class="fw-light fw-bold"> Ввод числа </h1>

  <%= render 'form', palindrome: @palindrome %>

  <span class="fs-3"> <%= link_to "Назад (к главной странице)", palindromes_path %> </span>
</section>